<div>
  <h4> This is demo of d3.js </h4>
  <div id="d3-base"></div>
</div>
<div>
  <h4> This is demo if underscore.js </h4>
  <div>[{{ aa }}] * 3 => [{{bb}}]</div>
</div>
<div>
  <h4> This is demo of particle.js </h4>
  <div id="particles-js">  </div>
</div>
<div>
  <h4> This is test of jQuery </h4>
  <div id="jquery"></div>
</div>
<div>
  <h4> This is test of awesome font </h4>
  <i class="fa fa-camera-retro fa-lg"></i> Font large
</div>

<h5> Angular could load fastclick.js in initlization </h5>
<div>
  <h4> This is a test for bootstrap </h4>
  <button class="btn btn-success" width="50px" height="50px" (click)="goBack()"> go back</button>
</div>
